.layout.container {
	padding: 20px 60px 0;
}
.layout sup {
	font-size: 18px;
	vertical-align: text-top;
	padding-left: 2px;
}
.layout__title {
    font-size: 38px;
    font-weight: bold;
    font-style: italic;
    color: #fff;
    margin-bottom: 24px;
}
.layout-content {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}
.layout-content-plane {
	width: 40%;
	flex-shrink: 0;
	margin-right: 20px;
}

.layout-content-plane-element[data-floor="2"] {
	width: 80%;
}
.layout-content-plane-element[data-floor="3"],
.layout-content-plane-element[data-floor="4"],
.layout-content-plane-element[data-floor="mansard"] {
	width: 100%;
}

.layout-content-plane__name {
	font-size: 28px;
	color: #d4a589;
	font-weight: bold;
	font-style: italic;
	margin-bottom: 16px;
}
.layout-content-plane-description {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: flex-start;
	-ms-align-items: center;
	align-items: center;
	margin-bottom: 20px;
}
.layout-content-plane-description__square {
	font-size: 40px;
	color: #fff;
	font-style: italic;
	margin-right: 20px;
}
.layout-content-plane-description-rooms {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
	justify-content: flex-start;
}
.layout-content-plane-description-rooms__elem {
	font-size: 18px;
	color: #fff;
}

.layout-content-plane__upside-name,
.layout-content-plane__downside-name {
	font-size: 40px;
	color: #fff;
	font-style: italic;
	white-space: nowrap;
}
.layout-content-plane-description__text {
	font-size: 22px;
	color: #fff;
}
.layout-content-plane-element img {
	width: 100%;
}
.layout-content-slider-select {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content:flex-start;
	-ms-align-items: center;
	align-items: center;
	margin-bottom: 20px;
}
.layout-content-slider-select__item {
	font-size: 24px;
	color: #fff;
	margin-right: 30px;
	opacity: 0.25;
	transition: 0.3s;
	cursor: pointer;
}
.layout-content-slider-select__item.active {
	color: #d4a589;
	opacity: 1;
}
.layout-content-slider-select__item:hover {
	color: #d4a589;
	opacity: 1;
}
.layout-content-slider {
	display: grid;
}
.layout-content-slider,
.layout-content-slider img {
	width: 100%;
}
.layout-content-slider .slick-dots {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	bottom: -22px;
}
.layout-content-slider .slick-dots li {
	height: 5px;
	width: 30%;
	background-color: rgba(212,165,137,.2);
	border-radius: 10px;
	transition: 0.6s;
}
.layout-content-slider .slick-dots li.slick-active {
	background-color: rgba(212,165,137,1);
}
@media (max-height: 960px) {
	.layout.container {
		max-height: calc(100% - 150px);
	}
}